.cbody{
    max-width: 100%;
    position: relative;
}
.r-card{
    width: 100%;  
    max-height: 712px;
}
@media screen and (min-width:500px){
  
    .leader{
        width: 340px;  
        margin: 32px;     
    }
    .r-card{
        width: 100%;  
        max-height: 712px;
    }
}

@media screen and (min-width:513px){
    .leader{
        width: 80%;  
        margin: 16px;     
    }
    .r-card{
        width: 80%;  
        max-height: 712px;
    }
  
}
@media screen and (min-width:759px){
    
    .leader{
        width: 340px;  
        margin: 16px;     
    }
    .r-card{
        width: 340px;  
        max-height: 712px;
    }
    .more{
        width: 100%;
        padding-right: 16px ;
    }
}
@media screen and (min-width:900px){
       /* start:: nav bar */
    .reveal{
        display: none;
    }
    .nav{
        min-width: 60%;
    }
    .nav ul{
        display: flex !important;
        flex-direction: row;
        align-items: center;
        top: 0;
        align-items: center;
        height: 100%;
        min-width: 100%;
        position: relative;
        justify-content: space-between;
        transform: translateX(0%);
    }
   .log {
       font-size: 12px;
       max-width: 20%;
   }
   .log h2{
       font-size: 30px;
   }
    .c-padding{
        padding-left: 60px ;
        padding-right: 60px ;
    }
    .content-padding{
        padding-left: 100px;
        padding-right: 100px;
    }
    .r-card{
        width: 290px; 
    }
}
@media screen and (min-width:1024px) {    
    .r-card{
        width: 230px;  
        max-height: 712px;
    }
    .content-padding{
        padding-left: 100px;
        padding-right: 100px;
    }
    .more{
        width: 92%;
    }
}


@media screen and (min-width:1150px) {    
    .r-card{
        width: 290px;  
        max-height: 712px;
    }
    .c-padding{
        padding-left:100px !important;
        padding-right:100px !important;
    }
    .content-padding{
        padding-left: 200px;
        padding-right: 200px;
    }
    
}
@media screen and (min-width:1090px) {    
    .r-card{
        width: 250px;  
        max-height: 712px;
    }
    
    .c-padding{
        padding-left:100px !important;
        padding-right:100px !important;
    }
    .content-padding{
        padding-left: 120px;
        padding-right: 120px;
    }
    
}
@media screen and (min-width:1200px) {    
    .r-card{
        width: 300px;  
        max-height: 712px;
    }   
}
@media screen and (min-width:1400px) {
    .leader{
        width: 310px;  
        margin: 16px;     
    }
    .r-card{
        width: 300px;  
        max-height: 712px;
    }
    .c-padding{
        padding-left:200px !important;
        padding-right:200px !important;
    }
    .content-padding{
        padding-left: 230px;
        padding-right: 230px;
    }
   
}